/* TableOfContents macro */
div.table-of-contents {
    border: 1px solid #bbbbbb;
    color: black;
    background-color: #eeeeee;
    font-size: 90%;
    text-align: left;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.5em 0.75em 0.5em 0.5em;
    max-width: 50%;
    display: inline-table;
}
div.table-of-contents ol {
    margin: 0;
    padding: 0 0 0 2em;
}
div.table-of-contents ul {
    margin: 0;
    list-style:none;
}
div.table-of-contents li {
    margin:0;
    padding: 0;
}
p.table-of-contents-heading {
    font-weight:bold;
    padding:0;
    margin: 0 0 0.5em 0;
    letter-spacing: 0.075em;
}
