/* Tags */

body {
	background-image: url(../img/white_texture.png);
}

hr {
	border-bottom: 1px solid #ccc;
	width: 80%;
	margin-left: 10%;
	text-align: left;
	-moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
}

.content hr {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

footer {
	text-align: center;
	background-color: #252525;
	color: white;
	border-top: 1px solid #eee;
	padding-top: 1em;
}

footer p {
	color: #999;
}

footer a {
	color: white;
}

#footer-floor {
	background-color: #1b1b1b;
}

#footer-floor .stay-in-touch {
	text-align: right;
}

/* Custom styles */

#header .brand {
  float: left;
  display: block;
  padding: 0px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

.content {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	background: white;

	margin: 1em;
	padding: 1.5em;
}

/* Override Bootstrap colors */

.nav-pills > .active > a, .nav-pills > .active > a:hover {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	color: #999;
}

.hero-unit {
	border-top: 3px solid #ebebeb;
	border-bottom: 1px solid #e1e1e1;
}

/* When the hero unit is used on top of the page we draw a gradient */
/*
body > .hero-unit {
	background: #a5a5a5; // Old browsers
	background: -moz-linear-gradient(top,  #a5a5a5 0%, #c1c1c1 44%, #ededed 100%); // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a5a5), color-stop(44%,#c1c1c1), color-stop(100%,#ededed)); // Chrome,Safari4+
	background: -webkit-linear-gradient(top,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); // Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); // Opera 11.10+
	background: -ms-linear-gradient(top,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); // IE10+
	background: linear-gradient(to bottom,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); // W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#ededed',GradientType=0 ); // IE6-9
}
*/

/* Image title */
.image-title {
	zoom: 1;
	margin-bottom: 1em;
}

.image-title img {
	float: left;
	margin-right: 8px;
	margin-left: -6px;
}

/* General elements */
h3 {margin:10px 0;}
h5 {line-height:140%; margin:20px 0 10px 0;}
h6 {font-size:13px;}
h6 a {color:#666;}
.middle h6 {line-height:100%; margin:10px 0 15px 0;}
.right h6 {margin-top:10px;}
.panel {background:rgba(220,220,220, 0.1); padding:10px 20px; margin-bottom:20px;
        line-height:170%; border:1px solid #eee; border-radius:5px;}
p, ul {line-height:22px; margin-top:5px; margin-bottom:15px;}
li {line-height:20px;}
img.boxed {box-shadow:0 0 10px #bbb;}


/* Navigation */
@media (max-width:979px){.brand {padding-right:20px !important;}}
.navbar {z-index:500;}
.navbar-search {margin-left:10px;}
.tagline {float:left; font-size:12px; font-style:italic; margin:9px 5px 0 -4px; color:#fff; opacity:.5;}
.breadcrumb {margin:20px 0 25px 0;}
.breadcrumb .divider {margin:0 5px;}
.breadcrumb strong {color:#333;}
ul.nav li.dropdown:hover ul.dropdown-menu {display:block;}
.pull-right .dropdown-menu a {text-align:right;}
.tree {padding:8px;}
.tree li {margin:3px 0;}
footer {background:rgba(220,220,220, 0.1); padding:30px 0; text-align:center;}
footer .container {text-align:left; display:inline-block; width:auto;}
footer li {float:left; list-style-type:none;}
footer li li {float:none; clear:both; width:120px; padding:10px 0; margin-right:30px;}
footer p {margin-top:40px; text-align:center; font-size:12px;}
footer .separator {opacity:0.3; margin:0 10px;}
@media (max-width: 979px) {footer .separator {display:block; visibility:hidden; width:1px; height:1px;}}
.pagination {margin:40px 0;}
.pagination p {float:left;}


/* Forms */
.control-group label {font-weight:bold; margin-bottom:3px;}
.control-group ul, .control-group li {list-style-type:none; display:inline; margin:0;}
                         /* radio/checkbox groups */
.control-group li label {width:auto !important; float:none !important; display:inline;
                         font-weight:normal; vertical-align:middle;
                         padding:0 !important; line-height:27px; margin-right:10px;}
.control-group li input {width:auto !important; margin-top:-2px;}
.input ul {margin:0;}
.input li {list-style-type:none;}
.input li input {width:auto;}
.input label {font-weight:normal;}
textarea.xlarge {width:480px; height:120px;}
.datefield select, .datetimefield select,
.datefield input, .datetimefield input {width:auto; margin-right:5px;}
.form-actions {background:rgba(220,220,220, 0.1); margin-left:-10px !important; border-top:1px solid #eee;}
.btn-small {width:auto; margin:5px 0; line-height:10px;}
a.btn-large, input.btn-large {width:auto; min-width:100px; margin-right:10px;}
.help-inline {color:#999;}
.btn-account, .btn-account:active {margin:0 5px !important;
                                   box-shadow:none; -webkit-box-shadow:none;}
#account .middle form {padding-top:20px;}
.non-field-errors .help-inline {padding:0; margin-bottom:5px; display:block;}


/* Blog */
.recent-posts li {margin:5px 0;}
.blog-list-detail {margin-bottom:20px; padding-bottom:30px; line-height:25px;
                   border-bottom:1px dashed #ccc;}
.middle .tags {margin:40px 0 20px 0;}
.tag, .tags li {display:inline-block; white-space:nowrap; margin-right:5px;}
.tag-weight-1 {font-size:90%;}
.tag-weight-2 {font-size:120%;}
.tag-weight-3 {font-size:150%;}
.tag-weight-4 {font-size:180%;}
.share-twitter, .share-facebook, .share-twitter:hover, .share-facebook:hover {
    color:#fff; margin:5px 5px 30px 0; font-weight:bold; text-shadow:none;}
.share-twitter {background:#00a3d4 !important;}
.share-facebook {background:#4667a6 !important;}
.featured-thumb {float:right; width:90px; height:90px; margin:0 0 10px 10px;}


/* Tweets */
.tweets img {float:left; margin-right:8px; width:32px; height:32px;}
.tweets li {margin-bottom:15px;}
.timespan {color:#bbb; margin-left:0; float:none;}


/* Ratings */
.rating {padding:10px 20px;}
.rating * {display:inline; list-style-type:none;}
.rating label {margin-right:15px;}
.rating p {margin-right:20px;}
.rating ul {margin-left:0 !important;}


/* Comments */
.comment-author {background:#feffee !important;}
#comments li {padding:15px; display:block; border:2px solid #eee;
              margin-top:10px; background:rgba(220,220,220, 0.1);
              border-radius:3px;}
#comments li ul {padding:5px 0 0 30px;}
#comments img {margin-right:5px; vertical-align:middle;}
.reply-form {margin-top:20px;}


/* Galleries */
.gallery {margin-top:20px;}
.image-overlay {text-align:center; width:100%;}
.image-overlay p {color:#fff; font-size:16px; display:inline-block; margin-top:5px;}
.image-overlay-prev,
.image-overlay-next {position:absolute; top:40%; color:#999; font-size:100px;
                     border:0 !important; background:#333; height:43px;}
.image-overlay-prev:hover,
.image-overlay-next:hover {color:#fff; text-decoration:none; background:#222;}
.image-overlay-prev {left:30px;}
.image-overlay-next {right:30px;}
.image-overlay-full {border-radius:5px; max-width:none !important; box-shadow:0 0 30px #222;}
